@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #E75423;
  --secondary-color: #FFF0EB;
}

html,
body {
  @apply bg-white transition-colors duration-150 dark:bg-dark-2
}

fieldset {
  border: 0;
}

select {
	appearance: none;
}